## misc
/site-lisp
places
bookmarks
var
url
tmp
rnc
eshell
elpa
ede-projects.el
data
ac-comphist.dat
abbrev-defs
.org-id-locations
#*
#.*
org-clock-save.el
*~
rnc
rnc/*
semanticdb
semanticdb/*
## directory contents
auto-save-list/*
backups/*
data/*
elpa/*
eshell/*
tmp/*
url/*

/#org-mode-mods.org#
/site-lisp/org-mode.el
/yes 
/dotemacs.el
/site-lisp/less-css-mode
/site-lisp/o-blog
/#dotemacs.org#
/#init.el#
/.#dotemacs.org
/tramp
/dotemacs.elc
/settings-backup.el
/site-lisp/regexp-dsl.elc
/var/pcache/gh/gh-gist-api/tonyday567
/dotemacs.org~
/secret.el.gpg
/abbrev_defs
/overides/yasnippet
